<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.binarywang.demo.wx.mp.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.github.binarywang.demo.wx.mp.pojo.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="open_id" property="openId" jdbcType="VARCHAR" />
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="SMALLINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
        <result column="given_name" property="givenName" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="SMALLINT" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
    id, open_id, img_url, sex, create_time, update_time, nick_name, phone_number, given_name,
    status
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.github.binarywang.demo.wx.mp.pojo.UserExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from t_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.github.binarywang.demo.wx.mp.pojo.UserExample" >
        delete from t_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.github.binarywang.demo.wx.mp.pojo.User" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_user (open_id, img_url, sex,
        create_time, update_time, nick_name,
        phone_number, given_name, status
        )
        values (#{openId,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{sex,jdbcType=SMALLINT},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{nickName,jdbcType=VARCHAR},
        #{phoneNumber,jdbcType=VARCHAR}, #{givenName,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.github.binarywang.demo.wx.mp.pojo.User" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="openId != null" >
                open_id,
            </if>
            <if test="imgUrl != null" >
                img_url,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="nickName != null" >
                nick_name,
            </if>
            <if test="phoneNumber != null" >
                phone_number,
            </if>
            <if test="givenName != null" >
                given_name,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="openId != null" >
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null" >
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="nickName != null" >
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null" >
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="givenName != null" >
                #{givenName,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=SMALLINT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.github.binarywang.demo.wx.mp.pojo.UserExample" resultType="java.lang.Integer" >
        select count(*) from t_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update t_user
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.openId != null" >
                open_id = #{record.openId,jdbcType=VARCHAR},
            </if>
            <if test="record.imgUrl != null" >
                img_url = #{record.imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.sex != null" >
                sex = #{record.sex,jdbcType=SMALLINT},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null" >
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.nickName != null" >
                nick_name = #{record.nickName,jdbcType=VARCHAR},
            </if>
            <if test="record.phoneNumber != null" >
                phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="record.givenName != null" >
                given_name = #{record.givenName,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=SMALLINT},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update t_user
        set id = #{record.id,jdbcType=BIGINT},
        open_id = #{record.openId,jdbcType=VARCHAR},
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
        sex = #{record.sex,jdbcType=SMALLINT},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        nick_name = #{record.nickName,jdbcType=VARCHAR},
        phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
        given_name = #{record.givenName,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=SMALLINT}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.github.binarywang.demo.wx.mp.pojo.User" >
        update t_user
        <set >
            <if test="openId != null" >
                open_id = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null" >
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="nickName != null" >
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null" >
                phone_number = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="givenName != null" >
                given_name = #{givenName,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=SMALLINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.github.binarywang.demo.wx.mp.pojo.User" >
    update t_user
    set open_id = #{openId,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      nick_name = #{nickName,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      given_name = #{givenName,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
